CompileFlags:
    Add: [-Wall, -D__NDS__, -DARM7, -I./build, -I./include, -I/opt/devkitpro/calico/include, -I/opt/devkitpro/devkitARM/arm-none-eabi/include/, -I/opt/devkitpro/libnds/include]
    Remove: -I*
    Compiler: arm-none-eabi-gcc
